<div class="card text-white bg-dark mb-4">
    <div class="card-header"> 
    <ul class="list-group list-group-flush">
        <li class="list-group-item first">
            <img  src="../../assets/question.jfif"/>
            <p>Question Paper</p>
        </li>
        <li class="list-group-item first">
            <img  src="../../assets/info.jfif"/>
            <p>Instructions</p>
        </li>
        
    </ul>
</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item profile">
            <img id="profile" src="../../assets/profile.png"/>
        </li>
        <li class="list-group-item">
            <p>{{name}}</p>
        </li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item profile left">
            <img class="sm-img" src="../../assets/green.jfif"/> 
            <p>Answered</p>
        </li> 
        <li class="list-group-item profile right">
            <img class="sm-img" src="../../assets/res1.jfif"/>
            <p>Not Answered</p>
        </li> 
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item profile left">
            <img class="sm-img" src="../../assets/res1.jfif"/> 
            <p>Not Visited</p>
        </li> 
        <li class="list-group-item profile right">
            <img class="sm-img" src="../../assets/purple.jfif"/>
            <p>Mark for review</p>
        </li> 
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item profile anti-mark">
            <img class="sm-img" src="../../assets/purple.jfif"/>
        </li> 
       <li class="list-group-item profile mark a"> 
        <p> Answered and marked for Review</p> 
        <p>(will be considered for evaluation)</p>
       </li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item profile head">
            <p>{{subject}}</p>
        </li> 
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item profile head">
            <p>Choose a question</p>
        </li> 
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Add More</a>
        <a href="#" class="card-link">Share</a>
    </div>
</div>